#!/usr/bin/env bash

set -e
# set -x

RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

THIS_DIR=$(dirname $(realpath -q $0))
# export ROOT_DIR="$(git rev-parse --show-toplevel)"

if [[ -f /opt/homebrew/bin/python3 ]]; then
	layout python "/opt/homebrew/bin/python3"
else
	layout python "python3"
fi

export PYTHONPATH="$PYTHONPATH:${THIS_DIR}"

